{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <title>42US Locations</title>
    <link rel="stylesheet" href = "{% static '42loc/normalize.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '42loc/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '42loc/hoverCard.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/42loc/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/static/42loc/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/42loc/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/42loc/favicons/manifest.json">
    <link rel="mask-icon" href="/static/favicons/42loc/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>
    <body>
        {% include "header.html" with number=number%}
        <div class="table_container">
            <table class="cluster">
                <tbody>
            {% for row in cluster %}
                <tr>
                    {% for location in row %}
                    {% include "location.html" with loc=location %}
                    {% endfor %}
                </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="{% static '42loc/hoverCard.js' %}"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip({
            container : 'body'
            });
        });
        </script>
        {% include "footer.html" %}
        <script type="text/javascript">
            $('.hoverOn').hoverCards({
              url: 'https://getUserData/', //passing general url to which id stored in 'data-dev-id' can be appended
              backgroundColor: '#eee', // to change the color of the card,
              fadeIn: 800, // fade in time in milliseconds
              fadeOut: 400, // fade out time in milliseconds
              delay: 100 // triggers the hoverCard if user hovers for more than specified delay (in ms)
            });
        </script>
    </body>
</html>
