@font-face
{
	font-family: BackTo1982;
    src: url("./fonts/BACKTO1982.TTF");
}
@font-face
{
	font-family: DOS;
    src: url("./fonts/FSEX300.ttf");
}

html, body {
	height: 100%;
	background-color: #263238;
	margin:0;
	overflow: hidden;
}

#notFoundContainer
{
	margin-top: 10vh;
	margin-bottom: 10vh;
}

#notFoundTitle
{
	font-family: BackTo1982;
	font-size: 20vh;
	text-align: center;
	width: 100%;
	height: 30%;
	color: white;
}

#notFoundConsole {
	width:60%;
	min-width: 300px;
	height: 40vh;
	margin: 0 auto;
	background-color: black;
	border: 10px solid gray;
	border-radius: 30px;
	padding: 15px;
	box-sizing: border-box;
	font-family: DOS;
	font-size: 2vh;
	color: white;
	overflow: hidden;
	transition: .2s all linear;
}

#notFoundTyped, #notFoundTypedSecond {
	white-space: pre-wrap;
}

#notFoundButton1, #notFoundButton2 {
	background-color: white;
	color: black;
	cursor: pointer;
}

#notFoundButton1:hover, #notFoundButton2:hover {
	background-color: black;
	color: white;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}