<header>
<div class="header_top">42US Locations: {{ on|stringformat:"i" }} Online</div>
<div class="header_bottom">
    <ul class="nav nav-tabs">
        <li class="nav_item {% if number == '1' %}active{% endif %}"><a href="/">Cluster 1</a></li>
        <li class="nav_item {% if number == '2' %}active{% endif %}"><a href="/cluster2">Cluster 2</a></li>
        <li class="nav_item {% if number == '3' %}active{% endif %}"><a href="/cluster1">Cluster 3</a></li>
        <li class="nav_item {% if number == '4' %}active{% endif %}"><a href="/cluster1">Cluster 4</a></li>
        <li class="nav_item {% if number == '5' %}active{% endif %}"><a href="/cluster1">Cluster 5</a></li>
    </ul>
</div>
</header>
